<%- include('_partials/header.ejs') %>
<%- include('_partials/navbar.ejs') %>
<main>
    <h1>últimas publicaciones</h1>
    <% if (locals?.userData?.isLoggedIn) { %>
        <section class="title-new-post">
            <header>publicar</header>
            <button  hx-post="/new-post" hx-trigger="click" hx-target="#create_post" hx-swap="innerHTML">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-circle" viewBox="0 0 16 16">
                    <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16"/>
                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4"/>
                </svg>
            </button>
        </section>
    <% } %>
    <section id="create_post"></section>
    <section>
        <% if (!locals.posts.items.length) { %>
            <h2>nada, nada, nadilla...</h2>
        <% } else { %>
            <% locals.posts.items.forEach((post) => { %>
                <article class="ad">
                    <fieldset>
                        <header>
                            <b><%= post.title %></b><br>
                            <small>
                                <a href="/profile/<%= post.expand.user_id.id %>"><%= post.expand.user_id.name %></a>
                                 • <i title="<%= new Date(post.created) %>"><%= locals.relativeTime(post.created) %></i>
                            </small>
                        </header>
                        <section class="content-container">
                            <% if (!post.pictures[0]) { %>
                                <img
                                    src="https://upload.wikimedia.org/wikipedia/commons/a/a3/Image-not-found.png"
                                    width="200"
                                    height="200"
                                    loading="lazy"
                                    alt="image not found"
                                >
                            <% } else { %>
                                <img
                                    src="<%= `${locals.baseUrl}/${post.collectionId}/${post.id}/${post.pictures[0]}` %>"
                                    width="200"
                                    height="200"
                                    loading="lazy"
                                >
                            <% } %>
                            <aside>
                                <h2>
                                    <%= post.max_price == 0 ? '(abierto a negociar)' : new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(post.max_price) %>
                                </h2>
                                <p><%= post.description %></p>
                            </aside>
                        </section>
                        <details>
                            <summary>ofertas</summary>
                            <% post?.expand?.['offers(ad_id)'] && post?.expand?.['offers(ad_id)'].forEach(comment => { %>
                                <section>
                                    <fieldset>
                                        <legend>
                                            <a href="/profile/<%= comment.expand.user_id.id %>"><%= comment.expand.user_id.name %></a>
                                            • <span><%= new Intl.NumberFormat('es-CO', { style: 'currency', currency: 'COP' }).format(comment.price) %></span>
                                        </legend>
                                        <small title="<%= new Date(comment.created) %>"><%= locals.relativeTime(comment.created) %></small>
                                        <p><i><%= comment.message %></i></p>
                                    </fieldset>
                                </section>
                            <% }); %>
                            <section>
                                <form 
                                    hx-post="/post/comment" 
                                    hx-target="previous section"
                                    hx-swap="afterend transition:true settle:0.3s"
                                >    
                                    <footer>
                                        <input type="hidden" name="post" value="<%= post.id %>" name="ad_id">
                                        <label>
                                            comentario
                                            <input type="text" name="comment">
                                        </label>
                                        <label>
                                            oferta
                                            <input type="number" name="price_offer">
                                        </label>
                                        <button type="submit">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                                                <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576zm6.787-8.201L1.591 6.602l4.339 2.76z"/>
                                            </svg>
                                        </button>
                                    </footer>
                                </form>
                            </section>
                        </details>
                    </fieldset>
                </article>
            <% }); %>
        <% } %>
    </section>
</main>
<%- include('_partials/footer.ejs') %>